<nav class="nav">
    <div class="nav-inner">
        <a href="/" class="nav-left">Drriti</a>
        <!-- Center: navigation links -->
        <div class="nav-links">
            <a href="/#about">About</a>
            <a href="/#services">Services</a>
            <a href="/#work">Work</a>
            <a href="/#contact">Contact</a>
        </div>
        <!-- Right: social icons -->
        <div class="nav-icons">
            <a href="/files/Drriti Resume.pdf" class="resume-btn" download>
                Resume <i class="fa-solid fa-download"></i>
            </a>
            <a href="https://www.linkedin.com/in/drriti-pasrija" target="_blank">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a href="https://www.behance.net/drritipasrija" target="_blank">
                <i class="fa-brands fa-behance"></i>
            </a>
        </div>
    </div>
</nav>